@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
  /*color*/
  --white-color:#fff;
  --black-color:#140100;
  --orange-color:#ff6000;
  --gray-dark-color: #7a7a7a;
  --gray-med-color: #dddddd;
  --gray-light-color: #f1f1f1;
  --background-color:#FAF7F0;
  /*size*/
  --padding: 12px;
  --margin: 12px;
  /*font size*/
  --font-large:20px;
  --font-medium:14px;
  --font-small:12px;
  --font-micro:10px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.front{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

.front-img{
  background-image: url('./img/darrien-staton-img.jpg');
  width: 420px;
  height: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  box-shadow: 0px 0px 5px #bbbaba;
}

.front-bg{
  width: 420px;
  height: 100%;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
}

.front-img>h2, .front-img>button, .front-description{
  position: relative;
  z-index: 1000;
}

.front-img h2{
  font-size: 40px;
  font-weight: bold;
}

.front-img div:nth-child(3){
  font-size: var(--font-medium);
  text-align: center;
  margin: 40px 0;
}

.front-img div:nth-child(3) p:nth-child(2){
  margin: 24px 0;
}

.front-img div:nth-child(3) p span{
  display:block;
  line-height: 1.5;
}

.front-img button{
  width: 160px;
  height: 40px;
  border-radius: 10px;
  border: none;
  color: var(--white-color);
  background-color: var(--orange-color);
  font-size: var(--font-medium);
  font-weight: bold;
}

.front-img button:hover{
  background-color: #EC5900;
}




.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
